@import "variables";
.c-h-100{
  height: 100vh;
}

.c-h1{
  font-size: $lg-heading-size;
}
.c-p{
  font-size: $p-size;
}
.c-button{
  background-color: $theme-color !important;
  color: white !important;
}

.c-form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  fieldset{
    margin-bottom: 30px;
  }
}